.container {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    height: 100vh;
    /* width: 100vh;  */
    text-align: center;
}

.A_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.A_2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.A_3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

.A_4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}

.A_5 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
}

.A_6 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
}

.A_7 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 1;
}

.A_8 {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 1;
}

.A_9 {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 1;
}

.A_10 {
    grid-column-start: 10;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 1;
}

.B_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.B_2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

.B_3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
}

.B_4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
}

.B_5 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
}

.B_6 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
}

.B_7 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 2;
}

.B_8 {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 2;
}

.B_9 {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 2;
}

.B_10 {
    grid-column-start: 10;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 2;
}

.C_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

.C_2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

.C_3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
}

.C_4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
}

.C_5 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
}

.C_6 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 3;
}

.C_7 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 3;
}

.C_8 {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 3;
}

.C_9 {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 3;
}

.C_10 {
    grid-column-start: 10;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 3;
}

.D_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
}

.D_2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}

.D_3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
}

.D_4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
}

.D_5 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
}

.D_6 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 4;
}

.D_7 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 4;
}

.D_8 {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 4;
}

.D_9 {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 4;
}

.D_10 {
    grid-column-start: 10;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 4;
}

.E_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
}

.E_2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
}

.E_3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
}

.E_4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 5;
}

.E_5 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 5;
}

.E_6 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 5;
}

.E_7 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 5;
}

.E_8 {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 5;
}

.E_9 {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 5;
}

.E_10 {
    grid-column-start: 10;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 5;
}

.F_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 6;
}

.F_2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 6;
}

.F_3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 6;
}

.F_4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 6;
}

.F_5 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 6;
}

.F_6 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 6;
}

.F_7 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 6;
}

.F_8 {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 6;
}

.F_9 {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 6;
}

.F_10 {
    grid-column-start: 10;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 6;
}

.G_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 7;
}

.G_2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 7;
}

.G_3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 7;
}

.G_4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 7;
}

.G_5 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 7;
}

.G_6 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 7;
}

.G_7 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 7;
    grid-row-end: 7;
}

.G_8 {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 7;
}

.G_9 {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 7;
}

.G_10 {
    grid-column-start: 10;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 7;
}

.H_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 8;
}

.H_2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 8;
}

.H_3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 8;
}

.H_4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 8;
}

.H_5 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 8;
}

.H_6 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 8;
}

.H_7 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 8;
    grid-row-end: 8;
}

.H_8 {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 8;
}

.H_9 {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 8;
    grid-row-end: 8;
}

.H_10 {
    grid-column-start: 10;
    grid-column-end: 10;
    grid-row-start: 8;
    grid-row-end: 8;
}

.I_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 9;
}

.I_2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 9;
}

.I_3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 9;
}

.I_4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 9;
}

.I_5 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 9;
}

.I_6 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 9;
    grid-row-end: 9;
}

.I_7 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 9;
    grid-row-end: 9;
}

.I_8 {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 9;
}

.I_9 {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 9;
    grid-row-end: 9;
}

.I_10 {
    grid-column-start: 10;
    grid-column-end: 10;
    grid-row-start: 9;
    grid-row-end: 9;
}

.J_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 10;
    grid-row-end: 10;
}

.J_2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 10;
    grid-row-end: 10;
}

.J_3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 10;
}

.J_4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 10;
    grid-row-end: 10;
}

.J_5 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 10;
    grid-row-end: 10;
}

.J_6 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 10;
    grid-row-end: 10;
}

.J_7 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 10;
    grid-row-end: 10;
}

.J_8 {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 10;
    grid-row-end: 10;
}

.J_9 {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 10;
    grid-row-end: 10;
}

.J_10 {
    grid-column-start: 10;
    grid-column-end: 10;
    grid-row-start: 10;
    grid-row-end: 10;
}